#pageName {
font-size: large;
color: red;
height: 35vh;
}

.text-center{
    text-align: center;
}

ul{
    list-style: none;
    padding: 3%;
    margin: auto;
    font-size: large;
}
li{
    float: right;
}

a {
    display: block;
    padding: 1rem;
    color:inherit;
}

li :hover{
color:pink;
background-color: green;
text-decoration: none;
}

.text-center{
    text-align: center;
}

div{
    background-color: red;
}

#one{
    height: 300px;
}

#two{
    height: 600px;
}

